body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.custom-navbar {
    position: relative;
    height: 60px;
    background-color: #ba2222;
    z-index: 10;
    isolation: isolate;
}

.logo-container {
    height: 60px;
    width: 35%;
    clip-path: polygon(0% 0%,
            60% 0%,
            40% 100%,
            0% 100%);
    background: #070707;
}

.logo {
    width: 60px;
    margin-left: 15%;
}

.option-container {
    gap: 10px;
    color: black;
    display: flex;
    position: absolute;

    height: 60px;
    width: 100%;
    top: 0;
    right: 0%;

}

.text-option {
    display: flex;
    color: black;
    margin-top: 5px;
    margin-left: 35%;
    gap: 25px;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 1.8rem;
}

/* Bandera */
.bg {
    position: absolute;

    height: 60px;
    width: 10%;
    right: 0;
    top: 0;

    clip-path: polygon(25% 0%,
            100% 0%,
            75% 100%,
            0% 100%);
    background-color: black;
}

.band.b1 {
    position: absolute;

    height: 60px;
    width: 10%;

    clip-path: polygon(25% 0%,
            100% 0%,
            75% 100%,
            0% 100%);

    right: 10%;
    top: 0;
    background-color: black;
    z-index: 2;
}


.band.b2 {
    position: absolute;

    height: 60px;
    width: 5%;

    clip-path: polygon(100% 0, 51% 100%, 0 0);
    right: 20%;
    bottom: 10px;

    background-color: black;
    z-index: 2;
}